<div class="row">
    <div class="col-md-4">
        <p>This is {{ user.displayname }}'s page! Below will list recent matches:</p>
    </div>
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Match ID</th>
                    <th>Heroes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in history.matches">
                    <td>{{ match.match_id }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="player in match.players">{{ player.hero_id }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
